:root {
  /* Colors */

  /* Primary */
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  /* Neutral */

  --clr-VeryDarkBlue: hsl(234, 12%, 34%);
  --clr-GrayishBlue: hsl(229, 6%, 66%);
  --clr-VeryLightGray: hsl(0, 0%, 98%);

}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  /* Colors */

  /* Primary */
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  /* Neutral */

  --clr-VeryDarkBlue: hsl(234, 12%, 34%);
  --clr-GrayishBlue: hsl(229, 6%, 66%);
  --clr-VeryLightGray: hsl(0, 0%, 98%);
  --ff-primary: 'spartan, sans-serif';
  --fs-400: .8125rem;
  --fs-500: .9625rem;
  --fs-900: 2rem;
  --br: .5rem;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  min-width: 100vh;
}
.principal {
  text-align: center;
  background-color: var(--clr-VeryLightGray);
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  padding-bottom: 30px;
}
.principal .encabezado {
  margin: 0 30px;
  padding-bottom: 30px;
}
.principal h1 {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  color: var(--clr-VeryDarkBlue);
}

.principal h1 span {
  display: block;
  font-weight: 1000;
}

.principal princ_parr {
  display: block;
  font-size: 1.5em;
  font-weight: 100;
  color: var(--clr-GrayishBlue)
}

/* TARJETAS */
.main_sec {
  
}

.main_artic {
  background-color: white;
  text-align: left;
  position: relative;
  max-width: 80%;
  color: var(--clr-GrayishBlue);
  height: 250px;
  border-top: 5px solid var(--clr-red);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  font-size: .95em;
  /* box-shadow: 0px 30px 50px rgba(var(--clr-VeryDarkBlue), .9); */
  box-shadow: 0px 30px 50px -33px var(--clr-VeryDarkBlue);
  

}

.main_sec .main_artic:nth-child(1) {
  border-top: 5px solid var(--clr-cyan);
}

.main_sec .main_artic:nth-child(3) {
  border-top: 5px solid var(--clr-orange);
}

.main_sec .main_artic:nth-child(4) {
  border-top: 5px solid var(--clr-blue);
}

.main_sec img {
  position: absolute;
  right: 30px;;
  bottom: 15px;
}
/*  -----------*/



@media(max-width: 375px){
  .body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    min-width: 100vh;
    min-width: 375px;
    padding: 5px;
    background-color: var(--clr-VeryLightGray);
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .principal {
     
  }
}


